# Introduction to Python - Session 3
1. Installing and using packages
2. Regular expressions: the re package
3. Data analysis:
    - The numpy package
    - The pandas package

SLIDES [HERE](https://docs.google.com/presentation/d/1hMFSNd42hD19_2c5cj5uP17N9uprZWX-PDRobyfhiPQ/export/pdf)

## EXERCISE 1 - Regular expressions

In [1]:
import re

**1. Extract numbers from `myString`.**

In [1]:
myString = 'Hello 12 hi 89. How are you 34?'

**2. Split a comma-delimited enumaration of `myFruits` into a list.**

In [2]:
myFruits = "banana, apple, melon, strawberry, peach, grapes"

**3. Replace, for all items in the list, all `.` by `-`.**

In [3]:
myList = ["Spain.2006", "Belgium.2015", "Portugal.2001"]

**4. Detect whether "Python" is present at the beginning of `myString`. and print the result.**

In [4]:
myString = "Python is fun"

**5. From the following list of file names, extract a list that contains only the sample id "sampleX".** Use the following expressions if needed: 

**`(?=...)`** = Matches if the pattern is followed by ...

**`(?<=...)`** = Matches if the pattern is preceded by ...

In [5]:
# Option 1 - Match the exact pattern of the string
filenames = ["L2_sample1_GTAGCG.fastq.gz", "L1_sample2_ATTGCC.fastq.gz", 
             "L1_sample3_TGTTAC.fastq.gz", "L4_sample4_ATGGTA.fastq.gz"]

## EXERCISE 2 - Introduction to NumPy

In [1]:
import numpy as np

**1. Create an array `a` of random numbers and shape (3,4).**

**2. Add a fifth column to `a` with values 0, 0.5, and 1.**

**3. Find all values that are greater or equal to 0.5.**

**4. Replace all the first row with NAs.**

**5. Use matrix multiplication against the vector `b = np.array([1, 0, 10])`.**

**6. Element-wise multiplication of the same vectors `a` and `b`.** Note that `b` is broadcasted along all rows.

**7. Calculate the sum, the mean, and the median of each row of `a`. Use the so-called numpy functions.**

## EXERCISE 3 - Introduction to Pandas

In [9]:
import pandas as pd

**1. Create the following DataFrame `mydf`, with index `John, Jessica, Steve, Rachel` and columns `Age, Height, Sex`.**

```
43 	181 	M
34 	172 	F
22 	189 	M
27 	167 	F
```

**2. What is the shape of `mydf`?**

**3. Calculate the average age and height in `mydf`.**

**4. Add one row to `mydf`: Georges who is 53 years old and 168cm tall.**

**5. Change the row names of `mydf` so that the data becomes anonymous.** Use Patient1, Patient2, etc. instead of actual names.

**6. Create the DataFrame `mydf2` that is a subset of `mydf` containing only the female entries.**

**7. Import the data in `more_patients.tsv` in a DataFrame named `moredf`.**

**8. Create a DataFrame `mydf3` by concatenating `mydf` and `moredf`.**

## EXERCISE 4 - Analyzing COVID-19 data

Adapted from: https://www.w3resource.com/python-exercises/project/covid-19/index.php

Data Source: https://github.com/CSSEGISandData/COVID-19/tree/master/csse_covid_19_data/csse_covid_19_daily_reports

**File naming convention**

MM-DD-YYYY.csv in UTC.

**Field description**

- Province/State: China - province name; US/Canada/Australia/ - city name, state/province name; Others - name of the event (e.g., "Diamond Princess" cruise ship); other countries - blank.
- Country/Region: country/region name conforming to WHO (will be updated).
- Last Update: MM/DD/YYYY HH:mm (24 hour format, in UTC).
- Confirmed: the number of confirmed cases. For Hubei Province: from Feb 13 (GMT +8), we report both clinically diagnosed and lab-confirmed cases. For lab-confirmed cases only (Before Feb 17), please refer to who_covid_19_situation_reports. For Italy, diagnosis standard might be changed since Feb 27 to "slow the growth of new case numbers." (Source)
- Deaths: the number of deaths.
- Recovered: the number of recovered cases.

**Upload the latest update of the dataset.**

In [2]:
covid_data= pd.read_csv('https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_daily_reports/MM-DD-YYYY.csv')

**1. Write a Python program to display first 5 rows from COVID-19 dataset. Also print the dataset information (`info()`) and check the missing values (`isna()`).**

**2. Write a Python program to get the latest number of confirmed, deaths, recovered and active cases of COVID-19 country-wise.** HINT: You can use the `groupby` fucntion.

**3. Write a Python program to get the Spanish `Province_State` cases of confirmed, deaths, recovered and active cases of COVID-19. Use `sort_values` to sort the values. Save the resulting dataframe as a csv file.**

**4. Make a bar plot of the active cases of the previous DataFrame.** Pandas has some very simple plotting function for DataFrames included, which can often be very convenient. Here, you can use the `DataFrame.plot.bar()` function. For more compplicated plots, the package MatPlotLib is recommended.

**5. Make a scatter plot of confirmed cases againts deaths for all `Province_State` of the previous DataFrame.** Use the `DataFrame.plot.scatter()` function.

**6. Write a Python program to list countries with no cases of COVID-19 recovered.**